# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Local settings
.env
*.env

# IDE configs
.idea/
.vscode/

# Django
media/
staticfiles/

# Test & coverage
pytest.cache/
.coverage
