POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=port
PGDATA=/var/lib/postgresql/data

CELERY_BROKER_URL=url
CELERY_RESULT_BACKEND=url

DJANGO_SECRET_KEY=secret-key
DJANGO_ENV=.env.example